*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




/* MM-Maketela start  */

body{

background-image:  url('bubbles.png');
/* background-color: blue; */
}
/* MM-Maketela */
.container{
    min-height:100vh;
    width: 100%;
    /* background-image:linear-gradient(rgba(4,9,30,0,7),rgba(4,9,30,0,7)) ; */
    background:url(/bubbles.webp) no-repeat center;
    /* background-color: gold; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
      background-position: center center;
    color: #fff;
    background-position: center;
    background-size:cover ;
  position:relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.navigators{
    flex: 1;
    text-align: right;
    width: 100%;
    padding: 15px 0;
  
    font-family: sans-serif;
    opacity: 0.8;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.navigators ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
} 
.navigators ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
.navigators ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background: palevioletred ;
    margin: auto;
    transition: 0.5s;
}
.navigators ul li a:hover{
color: #18ffff;
}

a:hover{
color: #18ffff;

}

/* .special{
    background: orange;
    width: 900px;
    box-shadow:#ccc;
    border-color: #fff;
    border-radius: 3px;
    border-width: 2px;
    opacity: 0.9;
    
} */

h1{
    color: orange;
    font-style: oblique;
}
.navigators ul li:hover::after{
    width: 100%;

}
.img{
    border:2px solid #ccc;
        background: url(img/tiger.png) no-repeat;
        box-shadow: 10px 10px 5px #ccc;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc; 
         -khtml-box-shadow: 10px 10px 5px#ccc ; 
}
.opening-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:start;
}
.opening-text p{
    margin: 10px 0 40px;
    color:#fff;
    font-size: 14px;
    font-style: oblique;
    
}
.navi{
    opacity: 100%;
}
.opening-text h1{
  font-size: 42px;  
}
.nav-section{
    background-color: #000000;
    opacity: 0.8 !important;
}


.first-btn{
    /* animate */
    text-align: center;
    outline: none;
     /* background-color: #04AA6D; */
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px grey transparent;
    /* transparent */
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid  #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.first-btn:hover{
    border: 1px solid orange;
    background:orange;
    transition: 1s;
}
h6 {
   color: #18ffff ;
}
.footer{
    color: orange;
    background-color: black;
    
}
.first-btn:active {
    background-color: #607d8b;
    box-shadow: 0 5px transparent;
    transform: translateX(54px);
  }

  @media(max-width: 700px) {
.opening-text h1{
    font-size: 14px;
}
    .navigators ul li{
        display: block;
    }
    .navigators{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        background:orange;
        text-align: left;
        z-index: 2;
    }
  }

 